@import url(/css/layout/normalize.css);
@import url(/css/layout/base.css);
@import url(/css/layout/fonts.css);

@import url(/css/blocks/header.css);
@import url(/css/blocks/logo-txt.css);
@import url(/css/blocks/contacts.css);
@import url(/css/blocks/nav.css);
@import url(/css/blocks/banner.css);
@import url(/css/blocks/features.css);
@import url(/css/blocks/news.css);
@import url(/css/blocks/pagination.css);
@import url(/css/blocks/social.css);
@import url(/css/blocks/footer.css);
@import url(/css/blocks/author.css);
@import url(/css/blocks/breadcrumbs.css);
@import url(/css/blocks/comments.css);
@import url(/css/blocks/more-services.css);
@import url(/css/blocks/addcomment.css);
@import url(/css/blocks/services.css);
@import url(/css/blocks/partners.css);
@import url(/css/blocks/welcome-page.css);