@import url(./layout/normalize.css);
@import url(./layout/base.css);
@import url(./layout/fonts.css);

@import url(./blocks/header.css);
@import url(./blocks/logo-txt.css);
@import url(./blocks/contacts.css);
@import url(./blocks/nav.css);
@import url(./blocks/banner.css);
@import url(./blocks/features.css);
@import url(./blocks/news.css);
@import url(./blocks/pagination.css);
@import url(./blocks/social.css);
@import url(./blocks/footer.css);
@import url(./blocks/author.css);
@import url(./blocks/breadcrumbs.css);
@import url(./blocks/comments.css);
@import url(./blocks/more-services.css);
@import url(./blocks/addcomment.css);
@import url(./blocks/services.css);
@import url(./blocks/partners.css);
@import url(./blocks/welcome-page.css);