html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
}

.wrapper {
    overflow: hidden;
    min-width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper__content {
    flex: 1;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.page__row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.page__column-left {
    width: 23.621%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__column-right {
    width: calc(100% - 23.621% - 22px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
   list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}