.comments {
    margin-top: 19px;
    width: 100%;
}
.comments__title {
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.45px;
}

.comments__list {
    margin-top: 36px;
    width: 100%;
}

.comments__item {
    width: 100%;
    min-height: 198px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    padding-bottom: 23px;
    margin-bottom: 25px;
    border-bottom: 2px #f5f5f5 solid;
}

.comments__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.comments__userpic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 20.04%;
    height: 174px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f5f5f5;
}

.comments__userpic-img {
    max-width: 100%;
    display: block;
}



.comments__desc {
    width: 77.25%;
    margin-left: 19px;
}

.comments__desc-time {
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #656464;
}

.comments__desc-username {
    margin-top: 4px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
}

.comments__desc-text {
    margin-top: 9px;
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 30px;
}

.comments__desc-text p {
    margin: 0;
}
