
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;

}

.menu__item {
    margin-right: 28px;
    justify-content: space-between;
}


/*
.menu__item:first-child {
    margin-right: 33px;
}


.menu__item:nth-child(2) {
    margin-right: 24px;
}

.menu__item:last-child {
    margin-right: 0;
}
*/

.menu__link {
    display: inline-flex;
    align-items: center;
    color: #fff;
}

.menu__link--main-active, .menu__link--comments-active, .menu__link--services-active, .menu__link:hover {
    color: #f89513;
}

.menu__link--main-active:before, .menu__link--comments-active:before, .menu__link--services-active:before, .menu__link:before {
    content: "";
    width: 22px;
    height: 22px;
    margin-right: 17px;
    display: inline-block;
    background: no-repeat center center;
}

.menu__link--main:before {
    width: 19px; height: 14px; 
    background: url(/img/icons/sprite.png) -295px -10px;
}
  
.menu__link--main-active:before, .menu__link--main:hover:before {
    width: 19px; height: 14px; 
    background: url(/img/icons/sprite.png) -256px -10px;
}

.menu__link--comments:before {
    width: 20px; height: 18px;
    background: url(/img/icons/sprite.png) -412px -10px;
}
  
.menu__link--comments-active:before, .menu__link--comments:hover:before {
    width: 20px; height: 18px;
    background: url(/img/icons/sprite.png) -217px -11px;
}

.menu__link--services:before {
    width: 19px; height: 14px;
    background: url(/img/icons/sprite.png) -373px -10px;
}
  
.menu__link--services-active:before, .menu__link--services:hover:before {
    width: 19px; height: 14px;
    background: url(/img/icons/sprite.png) -334px -10px;
}



.menu--vertical {
    width: 44.9%;
}

.menu--about {
    margin-top: 41px;
}

.menu--vertical .menu__list {
    flex-direction: column;
}

.menu--vertical .menu__item {
    margin-bottom: 26px;
}

.menu--vertical .menu__item:last-child {
    margin-bottom: 0;
}


.menu--vertical .menu__link {
    color: #221f1f;
}

.menu--vertical .menu__link--main-active {
    color: #f89513;
}

.menu--vertical .menu__link--comments-active {
    color: #f89513;
}

.menu--vertical .menu__link--services-active {
    color: #f89513;
}

.menu--vertical .menu__link:hover {
    color: #f89513;
}
