.lastnews__title {
    margin-top: 9px;
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.47px;
}

.lastnews__list {
    margin-top: 32px;
    width: 100%;
}

.lastnews__item {
    display: flex;
    flex-direction: row;   
    justify-content: start;
    width: 100%;
    border-bottom: 2px #f5f5f5 solid;
    margin-bottom: 26px;
    min-height: 196px;
}

.lastnews__item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.lastnews__pic {
    margin-top: 4px;
    width: 20.02%;
    height: 20.02%;
    border-radius: 50%;
    overflow: hidden;
}

.lastnews__pic-icon {
    max-width: 100%;
    display: block;
}

.lastnews__desc {
    margin-left: 23px;
    font-family: 'Roboto', sans-serif;
    width: 71%;
}

.lastnews__desc-time {
    font-size: 14px;
    font-weight: 300;
}

.lastnews__desc-title {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
    
}

.lastnews__desc-text {
    margin-top: 11px;
}

.lastnews__desc-text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    text-align: left;
}

.topnews {
    width: 65.4%;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topnews__title {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.topnews__title-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    color: #221f1f;
}

.topnews__month {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #656464;
}

.topnews__list {
    align-self: flex-end;
    width: 95.53%;
    margin-top: 21px;
    list-style-type: none; 
}

.topnews__item {
    margin-bottom: 20px;
}

.topnews__item:last-child {
    margin-bottom: 0;
}

.topnews__item-link {
    display: block;
    min-height: 129px;
}

.topnews__item-icon {
    display: block;
    width: 100%; 
}