.welcome-page {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/gym.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.welcome-page__container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.welcome-page__enter {
    width: 172px;
    height: 277px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: enterAnimation 5s infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.welcome-page__image {
    width: 100%;
    height: 100%;
}

.welcome-page__button {
    margin-top: 39px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #131415;
    
}

.welcome-page__button:hover {
    background-color: #f89513;
}


.welcome-page__button-text {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

@keyframes enterAnimation {
    0% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }

    3% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }

    6% {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    9% {
        opacity: 1;
        transform: scale(1, 1);
    }

    12% {
        opacity: 1;
        transform: scale(0.95, 0.95);
    }

    17% {
        opacity: 1;
        transform: scale(1, 1);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}